@model IEnumerable<SystemBiblioteczny.Models.Autor>

<h1>Autorzy</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Dodaj autora
    </a>
</p>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th style="width: 150px;">Akcje</th> 
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">@item.Imie</td>
                <td class="align-middle">@item.Nazwisko</td>
                <td>
                   
                    <a asp-action="Delete" asp-route-id="@item.AutorId" class="btn btn-danger btn-sm">
                        Usuń
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>